<% provide(:title, "About") %>

<h2 style="font-size: 40px" class="home">About</h2>

<p class="field">
Time Capsule is specially designed to store all of your cherished memories. Be it a quote, photo, anecdote, or life goal. Each memory can be tailored to specify the exact time you wish to view it in the future.
</p>
<p class="field">
Time Capsule is the first app created by student developer <%= link_to "David Newell", contact_path %> and he is always welcome to hear input of users on the app, be it feature suggestions for the app, constructive criticism or even a thoughtful note.
</p>
