<% provide(:title, "Team") %>

<h2 style="font-size: 40px" class="home">The Team (of one)</h2>
	<div>
	    <%= link_to image_tag('david.jpeg'), 'index', class:"img-circle" %>
	</div>
	<p class="field">
		By day David studies Electronic and Computer Engineering at his local university in Galway. By night, he also studies.
		 During his limited free time he chooses to do some extra study...Or go to the cinema with his m8's and play his PlayStation 
		 (Challenge him to a game of FIFA15). He's lives at home like any good mama's boy, with his mamaBear, papaBear and sisterCub, Lisa.
		 He's an avid lover of all things tech, and you are currently visiting his first ever Rails app; tell him you've used it(even if you 
		 haven't).
	</p>
	<p>
		<strong style="color:white;">Email: </strong><a href="mailto:youremailaddress" class="nav_element">d.newell4@nuigalway.ie</a><br>
		<strong style="color:white;">Twitter: </strong><a href="https://twitter.com/davidnewell95">@DavidNewell95</a>
	</p>