<% provide(:title, "Home") %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section class="snippet_form">
        <%= flash[:success] %>
        <%= render 'shared/snippet_form' %>
      </section>
    </div>
  </div>
<% else %>
		<h2 style="font-size:60px" class="home">Time Capsule</h2>
		<hr class="small">
    <h2 class="home">We cherish your past.</h2>
    <%= link_to "Sign up", new_user_registration_path, id:"signup_btn" %>
<% end %>