<li id="snippet-<%= snippet.id %>">
  <span class="user"><%= snippet.title %></span>
  <span class="content"><%= snippet.content %></span>
  <span class="timestamp">
    Entered <%= time_ago_in_words(snippet.created_at) %> ago.
  </span>
</li>