<% provide(:title, @user.email) %>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
  	<h3>My Snippets</h3>
    <% if @user.snippets.any? %>
      <% @snippets.each do |snippet| %>
        <ol class="snippets">
          <%= render snippet %>
        </ol>
      <% end %>
      <%= will_paginate @snippets %>
    <% end %>
  </div>
</div>

